@model Reservation.UI.MVC.Models.RoleViewModel

@{
    ViewBag.Title = "Create New Role";
}



<div class="cdeContainer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="form-group">
                <div class="clearfix"></div>
                <div class="FooterLeft">
                    <input type="submit" value="Create" class="btn btn-primary rounded" />
                </div>
                <div class="FooterRight">@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger rounded" })</div>
                <div class="clearfix"></div>
            </div>
            <br />
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
