@model IEnumerable<Reservation.UI.MVC.Models.ApplicationUser>

@{
    ViewBag.Title = "Users Admin";
}


<br />
<div class="tables">
    <div>
        @Html.ActionLink("Add User", "Create", "UsersAdmin", null, new { @class = "btn btn-primary rounded" })
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable(); //the default is #myTable
        });
    </script>
}
