@model IEnumerable<Reservation.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Relationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <img src="~/Content/images/@item.AssetPhoto" class="img-fluid student-image" alt="Photo of @item.AssetName" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Relationship)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetId })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
            $(document).ready(function () {
                $('.table').DataTable(); //the default is #myTable
            });
    </script>
}