@model IEnumerable<Reservation.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}


<div class="tables">
    <br />
    <div class="row">
        <div class="col-md-12">
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Add Location", "Create", "Locations", null, new { @class = "btn btn-primary rounded" })
            }
        </div>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ZipCode)*@
                    Zip
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.ReservationLimit)*@
                    Reservation Limit
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservationLimit)
                    </td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                            @*@Html.ActionLink("Details", "Details", new { id = item.LocationId }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable(); //the default is #myTable
        });
    </script>
}
