@model IEnumerable<Reservation.DATA.EF.Reservation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                </td>
                @if (User.IsInRole("User") || User.IsInRole("Admin"))
                {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ReservationId })
                    @if (User.IsInRole("Admin"))
                    {
                        <span>
                            | @Html.ActionLink("Delete", "Delete", new { id = item.ReservationId })
                        </span>
                    }
                </td>
                }
                
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.table').DataTable(); //the default is #myTable
        });
    </script>
}